In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling
from sklearn.preprocessing import LabelEncoder
from math import *
from sklearn.preprocessing import OneHotEncoder
# from sklearn.impute import KNNImputer
from tqdm.auto import tqdm
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn import preprocessing

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))
mirrored_strategy = tf.distribute.MirroredStrategy()

In [ ]:
df = pd.read_csv('home-credit-default-risk//application_train.csv')

# visualisation data

In [ ]:
plt.figure(figsize=(20,10))
sns.heatmap(df.isna())

## valeur vide ou null

In [ ]:
(df.isna().sum()/df.shape[0]).sort_values()

In [5]:
#on suppr toutes les colonnes Ã  plus de 90% de val manquante
df = df[df.columns[(df.isna().sum()/df.shape[0]) < 0.9]]

# Variables du csv

In [6]:
df.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [ ]:
pbar = tqdm(total=1)
for col in df.select_dtypes('float'):
    plt.figure()
    sns.distplot(df[col])
    pbar.update(1/len(df.select_dtypes('float')))
pbar.close()

In [ ]:
pbar = tqdm(total=1)
for col in df.select_dtypes('object'):
    print(f'{col :-<40} => {df[col].unique()}')
    plt.figure()
    df[col].value_counts(normalize=True, dropna=False).plot.pie()
    pbar.update(1/len(df.select_dtypes('object')))
pbar.close()

# encoder des 16 colonnes objects

In [ ]:
#df2 = pd.get_dummies(df)

In [7]:
le = []
for i,col in enumerate(df.select_dtypes('object').columns):
    try:
        le.append(LabelEncoder())
        df[col] = le[i].fit_transform(df[col].astype(str))
    except:
        print('error : '+col)

In [ ]:
#le1 = LabelEncoder()
#le2 = LabelEncoder()

In [ ]:
#df['EMERGENCYSTATE_MODE_1'] = df['EMERGENCYSTATE_MODE'].astype(str)

In [ ]:
#le1.fit_transform(df['EMERGENCYSTATE_MODE_1'])

In [ ]:
#le2.fit_transform(df['ORGANIZATION_TYPE'])

In [ ]:
#le1.classes_

In [ ]:
#le2.classes_

In [ ]:
#df['EMERGENCYSTATE_MODE_1'] = le1.fit_transform(df['EMERGENCYSTATE_MODE_1'])
#df['ORGANIZATION_TYPE_1'] = le2.fit_transform(df['ORGANIZATION_TYPE'])

# difference entre positif et negatif

In [ ]:
#df['TARGET']

In [ ]:
df.dtypes.value_counts()

In [ ]:
positif = df[df['TARGET'] == 1 ]
negatif = df[df['TARGET'] != 1 ]

In [ ]:
df_int32_columns = df.select_dtypes('int32').columns
df_int64_columns = df.select_dtypes('int64').columns
df_float_columns = df.select_dtypes('float').columns

In [ ]:
pbar = tqdm(total=1)
x=0
y=0
nbr = 3
fig, axs = plt.subplots(ceil(len(df_int32_columns)/nbr), nbr,  figsize=(20, 20))
for col in (df_int32_columns):
    if(x>=nbr):
        x=0
        y+=1
    sns.distplot(positif[col], label='positif', ax=axs[y,x])
    sns.distplot(negatif[col], label='negatif', ax=axs[y,x])
    axs[y,x].legend()
    x+=1
    pbar.update(1/len(df_int32_columns))
pbar.close()

In [ ]:
pbar = tqdm(total=1)
x=0
y=0
nbr = 3
fig, axs = plt.subplots(ceil(len(df_int64_columns)/nbr), nbr,  figsize=(20, 80))
for col in (df_int64_columns):
    if(x>=nbr):
        x=0
        y+=1
    sns.distplot(positif[col], label='positif', ax=axs[y,x])
    sns.distplot(negatif[col], label='negatif', ax=axs[y,x])
    axs[y,x].legend()
    x+=1
    pbar.update(1/len(df_int64_columns))
pbar.close()

In [ ]:
pbar = tqdm(total=1)
x=0
y=0
nbr = 3
fig, axs = plt.subplots(ceil(len(df_float_columns)/nbr), nbr,  figsize=(20, 120))
for col in (df_float_columns):
    if(x>=nbr):
        x=0
        y+=1
    sns.distplot(positif[col], label='positif', ax=axs[y,x])
    sns.distplot(negatif[col], label='negatif', ax=axs[y,x])
    axs[y,x].legend()
    x+=1
    pbar.update(1/len(df_float_columns))
pbar.close()

# nouveau dataTrain

In [8]:
data_train = df[['TARGET','EMERGENCYSTATE_MODE','HOUSETYPE_MODE','OCCUPATION_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','FONDKAPREMONT_MODE','DAYS_BIRTH','DAYS_ID_PUBLISH','FLAG_PHONE','REG_CITY_NOT_WORK_CITY','FLAG_DOCUMENT_3','AMT_CREDIT','AMT_GOODS_PRICE','REGION_POPULATION_RELATIVE','DAYS_REGISTRATION','EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3','OBS_60_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','OBS_30_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE']]
data_train.head()

,TARGET,EMERGENCYSTATE_MODE,HOUSETYPE_MODE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,FONDKAPREMONT_MODE,DAYS_BIRTH,DAYS_ID_PUBLISH,FLAG_PHONE,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_CREDIT,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE
0,1,0,0,8,6,5,1,0,1,7,4,3,-9461,-2120,1,0,1,406597.5,351000.0,0.018801,-3648.0,0.083037,0.262949,0.139376,2.0,2.0,2.0,2.0
1,0,0,0,3,1,39,0,0,0,4,1,3,-16765,-291,1,0,1,1293502.5,1129500.0,0.003541,-1186.0,0.311267,0.622246,NaN,1.0,0.0,1.0,0.0
2,0,2,1,8,1,11,1,1,1,7,4,0,-19046,-2531,1,0,0,135000.0,135000.0,0.010032,-4260.0,NaN,0.555912,0.729567,0.0,0.0,0.0,0.0
3,0,2,1,8,6,5,0,0,1,7,4,0,-19005,-2437,0,0,1,312682.5,297000.0,0.008019,-9833.0,NaN,0.650442,NaN,2.0,0.0,2.0,0.0
4,0,2,1,3,4,37,1,0,1,7,4,0,-19932,-3458,0,1,0,513000.0,513000.0,0.028663,-4311.0,NaN,0.322738,NaN,0.0,0.0,0.0,0.0

In [9]:
(data_train.isna().mean()).sort_values()

TARGET                        0.000000
DAYS_REGISTRATION             0.000000
REGION_POPULATION_RELATIVE    0.000000
AMT_CREDIT                    0.000000
FLAG_DOCUMENT_3               0.000000
REG_CITY_NOT_WORK_CITY        0.000000
FLAG_PHONE                    0.000000
DAYS_BIRTH                    0.000000
FONDKAPREMONT_MODE            0.000000
NAME_EDUCATION_TYPE           0.000000
DAYS_ID_PUBLISH               0.000000
FLAG_OWN_REALTY               0.000000
EMERGENCYSTATE_MODE           0.000000
NAME_INCOME_TYPE              0.000000
OCCUPATION_TYPE               0.000000
WEEKDAY_APPR_PROCESS_START    0.000000
HOUSETYPE_MODE                0.000000
CODE_GENDER                   0.000000
FLAG_OWN_CAR                  0.000000
ORGANIZATION_TYPE             0.000000
AMT_GOODS_PRICE               0.000904
EXT_SOURCE_2                  0.002146
OBS_30_CNT_SOCIAL_CIRCLE      0.003320
OBS_60_CNT_SOCIAL_CIRCLE      0.003320
DEF_30_CNT_SOCIAL_CIRCLE      0.003320
DEF_60_CNT_SOCIAL_CIRCLE      0.003320
EXT_SOURCE_3                  0.198253
EXT_SOURCE_1                  0.563811
dtype: float64

In [10]:
data_train['EMERGENCYSTATE_MODE'].isna().sum()

0

In [ ]:
pbar = tqdm(total=1)
for col in data_train.columns:
    if((data_train[col].isna().sum()) > 0):
        print(f'{col :-<40} => {data_train[col].unique()}')
        plt.figure()
        data_train[col].value_counts(normalize=True, dropna=False).plot.pie()
    pbar.update(1/len(data_train.columns))
pbar.close()

# suppr les 1021 lignes vide

In [ ]:
a=data_train['OBS_30_CNT_SOCIAL_CIRCLE'].isna()
a2=data_train['OBS_60_CNT_SOCIAL_CIRCLE'].isna()
a3=data_train['DEF_60_CNT_SOCIAL_CIRCLE'].isna()

In [ ]:
b= (a==1)&(a2==1)&(a3==1)

In [ ]:
print(b==a)

In [11]:
data_train['OBS_30_CNT_SOCIAL_CIRCLE'].isna().sum()

1021

In [12]:
data_train = data_train.dropna(subset=['OBS_30_CNT_SOCIAL_CIRCLE'])

In [13]:
(data_train.isna().sum()/data_train.shape[0]).sort_values()

TARGET                        0.000000
DEF_30_CNT_SOCIAL_CIRCLE      0.000000
OBS_60_CNT_SOCIAL_CIRCLE      0.000000
DAYS_REGISTRATION             0.000000
REGION_POPULATION_RELATIVE    0.000000
AMT_CREDIT                    0.000000
FLAG_DOCUMENT_3               0.000000
REG_CITY_NOT_WORK_CITY        0.000000
FLAG_PHONE                    0.000000
OBS_30_CNT_SOCIAL_CIRCLE      0.000000
DAYS_BIRTH                    0.000000
DAYS_ID_PUBLISH               0.000000
NAME_EDUCATION_TYPE           0.000000
NAME_INCOME_TYPE              0.000000
FLAG_OWN_REALTY               0.000000
FLAG_OWN_CAR                  0.000000
CODE_GENDER                   0.000000
ORGANIZATION_TYPE             0.000000
WEEKDAY_APPR_PROCESS_START    0.000000
OCCUPATION_TYPE               0.000000
HOUSETYPE_MODE                0.000000
EMERGENCYSTATE_MODE           0.000000
FONDKAPREMONT_MODE            0.000000
DEF_60_CNT_SOCIAL_CIRCLE      0.000000
AMT_GOODS_PRICE               0.000907
EXT_SOURCE_2                  0.002140
EXT_SOURCE_3                  0.198026
EXT_SOURCE_1                  0.563891
dtype: float64

# Valeurs vide

In [14]:
columns = (data_train.isna().mean()).sort_values() >0
columns_index = columns.index[columns.values == True]


# CHANGEMENT DE METHODE
# imputer = KNNImputer(n_neighbors= 2)

# # imputer = KNNImputer(n_neighbors=5)
# # df = data_train(imputer.fit_transform(data_train),columns = data_train.columns)
# # df.isna().any()

# # print(columns_index)

# pbar = tqdm(total=1)
# for column in columns_index:
    
#     impute_with_2 = imputer.fit_transform([data_train[column]])[0]
# #     print(impute_with_2[0:5])
# #     print(data_train[column].head())
    
#     print("Colonne : "+ column + " -- taille KNN : "+str(len(impute_with_2)) + " -- taille colonne: "+str(len(data_train[column])))
    
# #     nulls = data_train[data_train[column].isna()]

# #     for i, ni in enumerate(nulls.index[:len(impute_with_2)]):
# #         data_train[column].loc[ni] = impute_with_2[i]

#     pbar.update(1/(len(columns_index)))
# pbar.close()

In [15]:
imp_median= SimpleImputer(missing_values=np.nan, strategy='median')

pbar = tqdm(total=1)
for column in columns_index:
    
    imp_median= imp_median.fit(data_train[[column]])
    data_train[column] = imp_median.transform(data_train[[column]]).ravel()

    pbar.update(1/(len(columns_index)))
pbar.close()

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [16]:
(data_train.isna().mean()).sort_values()

TARGET                        0.0
DEF_30_CNT_SOCIAL_CIRCLE      0.0
OBS_60_CNT_SOCIAL_CIRCLE      0.0
EXT_SOURCE_3                  0.0
EXT_SOURCE_2                  0.0
EXT_SOURCE_1                  0.0
DAYS_REGISTRATION             0.0
REGION_POPULATION_RELATIVE    0.0
AMT_GOODS_PRICE               0.0
AMT_CREDIT                    0.0
FLAG_DOCUMENT_3               0.0
REG_CITY_NOT_WORK_CITY        0.0
FLAG_PHONE                    0.0
DAYS_ID_PUBLISH               0.0
DAYS_BIRTH                    0.0
FONDKAPREMONT_MODE            0.0
NAME_EDUCATION_TYPE           0.0
NAME_INCOME_TYPE              0.0
FLAG_OWN_REALTY               0.0
FLAG_OWN_CAR                  0.0
CODE_GENDER                   0.0
ORGANIZATION_TYPE             0.0
WEEKDAY_APPR_PROCESS_START    0.0
OCCUPATION_TYPE               0.0
HOUSETYPE_MODE                0.0
EMERGENCYSTATE_MODE           0.0
OBS_30_CNT_SOCIAL_CIRCLE      0.0
DEF_60_CNT_SOCIAL_CIRCLE      0.0
dtype: float64

# normalisation de la data

In [17]:
data_train.head()

,TARGET,EMERGENCYSTATE_MODE,HOUSETYPE_MODE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,FONDKAPREMONT_MODE,DAYS_BIRTH,DAYS_ID_PUBLISH,FLAG_PHONE,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_CREDIT,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE
0,1,0,0,8,6,5,1,0,1,7,4,3,-9461,-2120,1,0,1,406597.5,351000.0,0.018801,-3648.0,0.083037,0.262949,0.139376,2.0,2.0,2.0,2.0
1,0,0,0,3,1,39,0,0,0,4,1,3,-16765,-291,1,0,1,1293502.5,1129500.0,0.003541,-1186.0,0.311267,0.622246,0.535276,1.0,0.0,1.0,0.0
2,0,2,1,8,1,11,1,1,1,7,4,0,-19046,-2531,1,0,0,135000.0,135000.0,0.010032,-4260.0,0.505795,0.555912,0.729567,0.0,0.0,0.0,0.0
3,0,2,1,8,6,5,0,0,1,7,4,0,-19005,-2437,0,0,1,312682.5,297000.0,0.008019,-9833.0,0.505795,0.650442,0.535276,2.0,0.0,2.0,0.0
4,0,2,1,3,4,37,1,0,1,7,4,0,-19932,-3458,0,1,0,513000.0,513000.0,0.028663,-4311.0,0.505795,0.322738,0.535276,0.0,0.0,0.0,0.0

In [18]:
from sklearn.preprocessing import RobustScaler
x = data_train.values #returns a numpy array
rs = RobustScaler()
x_scaled = rs.fit_transform(x)
df = pd.DataFrame(x_scaled, columns=['TARGET','EMERGENCYSTATE_MODE','HOUSETYPE_MODE','OCCUPATION_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','FONDKAPREMONT_MODE','DAYS_BIRTH','DAYS_ID_PUBLISH','FLAG_PHONE','REG_CITY_NOT_WORK_CITY','FLAG_DOCUMENT_3','AMT_CREDIT','AMT_GOODS_PRICE','REGION_POPULATION_RELATIVE','DAYS_REGISTRATION','EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3','OBS_60_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','OBS_30_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE'])
df.head()

,TARGET,EMERGENCYSTATE_MODE,HOUSETYPE_MODE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,FONDKAPREMONT_MODE,DAYS_BIRTH,DAYS_ID_PUBLISH,FLAG_PHONE,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_CREDIT,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE
0,1.0,0.0,-1.0,-0.166667,0.50,-0.666667,1.0,0.0,0.0,0.00,0.0,1.0,0.865557,0.439748,1.0,0.0,0.0,-0.200835,-0.224490,-0.002626,0.156519,-0.422758,-1.119441,-1.805485,1.0,2.0,1.0,2.0
1,0.0,0.0,-1.0,-0.583333,-0.75,0.142857,0.0,0.0,-1.0,-0.75,-1.5,1.0,-0.139535,1.149006,1.0,0.0,0.0,1.445698,1.540816,-0.820550,0.606692,-0.194527,0.208547,0.000000,0.5,0.0,0.5,0.0
2,0.0,1.0,0.0,-0.166667,-0.75,-0.523810,1.0,1.0,0.0,0.00,0.0,0.0,-0.453420,0.280368,1.0,0.0,-1.0,-0.705054,-0.714286,-0.472638,0.044615,0.000000,-0.036627,0.886052,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,-0.166667,0.50,-0.666667,0.0,0.0,0.0,0.00,0.0,0.0,-0.447778,0.316820,0.0,0.0,0.0,-0.375188,-0.346939,-0.580533,-0.974401,0.000000,0.312761,0.000000,1.0,0.0,1.0,0.0
4,0.0,1.0,0.0,-0.583333,0.00,0.095238,1.0,0.0,0.0,0.00,0.0,0.0,-0.575341,-0.079108,0.0,1.0,-1.0,-0.003300,0.142857,0.525969,0.035290,0.000000,-0.898454,0.000000,0.0,0.0,0.0,0.0

# train et test

In [19]:
X_train, X_test, y_train, y_test = train_test_split(data_train.drop(columns=['TARGET']), data_train['TARGET'], test_size=0.20, random_state=42)

# Reseaux neuronnes

# Model

In [20]:
model10 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(10, activation='relu', input_dim=(X_train.shape[1])),
    #tf.keras.layers.Dropout(0.5),
    #tf.keras.layers.Dense(30, activation='relu',kernel_regularizer=tf.keras.regularizers.l2(0.001)),
    #tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [ ]:
model10.summary()

In [ ]:
model10.compile(loss='binary_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])

In [ ]:
X_train.shape

# Entrainement

In [ ]:
history = model10.fit(X_train,
                    epochs=100,
                    batch_size= 10,
                   validation_data=y_train)

In [ ]:
history = model10.fit(X_train,
                    epochs=100,
                    batch_size= 40,
                   validation_data=y_train, 
                    callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10),
                               tfdocs.modeling.EpochDots(),
                               tf.keras.callbacks.ModelCheckpoint("weights.best.hdf5", 
                                                                   monitor='val_accuracy', 
                                                                   verbose=0, 
                                                                   save_best_only=True, 
                                                                   save_weights_only=False, 
                                                                   mode='max', 
                                                                   periode=1)])

# ensemble classifier

In [27]:
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import *
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV

In [28]:
model1 = SGDClassifier(random_state=0)
model2 = DecisionTreeClassifier(random_state=0)
model3 = KNeighborsClassifier(n_neighbors=4, metric='euclidean', n_jobs=-1)
model4 = RandomForestClassifier(max_depth=9, n_estimators=9, max_features=1,  n_jobs=-1)
model5 = AdaBoostClassifier()
model6 = GaussianNB()

In [ ]:
param_grid = {'n_neighbors':np.arange(1,5),
             'metric':['euclidean','manhattan']}

grid = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5, n_jobs=-1)
grid.fit(X_train, y_train)
grid.best_score_

In [ ]:
grid.best_params_

In [25]:
param_grid = {'max_depth':np.arange(1,20),
             'n_estimators':np.arange(1,10)}

grid = GridSearchCV(RandomForestClassifier(), param_grid, cv=5, n_jobs=-1)
grid.fit(X_train, y_train)
grid.best_score_

0.9191205255811592

In [26]:
grid.best_params_

{'max_depth': 9, 'n_estimators': 9}

In [ ]:
param_grid = {'max_depth':np.arange(1,20),
             'max_features':np.arange(1,10)}

grid = GridSearchCV(DecisionTreeClassifier(), param_grid, cv=5, n_jobs=-1)
grid.fit(X_train, y_train)
grid.best_score_

In [ ]:
grid.best_params_

# votngClassifier

In [29]:
#voting hard voting, soft voting
model11 = VotingClassifier([('sgd', model1), 
                          ('tree', model2),
                          ('kn', model3),
                          ('rdforest',model4),
                          ('ada',model5),
                          ('bayes',model6)],
                         voting='hard')

In [30]:
for model in (model1, model2, model3, model4, model5, model6, model11):
    model.fit(X_test, y_test)
    print(model.__class__.__name__, model.score(X_train, y_train))

SGDClassifier 0.9190430356618486
DecisionTreeClassifier 0.8504804398185911
KNeighborsClassifier 0.9166082090769683
RandomForestClassifier 0.9190634278443016
AdaBoostClassifier 0.9190308003523769
GaussianNB 0.919059349407811
VotingClassifier 0.9190634278443016

In [ ]:
#6.4 Confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, model.predict(X_test))
confusion_matrix(y_test, model.predict(X_test))

# autre

In [ ]:
test = df.groupby(['TARGET'])
test

In [ ]:
test.head()

In [ ]:
#test['CODE_GENDER'].value_counts()

In [ ]:
test['FLAG_OWN_CAR'].value_counts()

In [ ]:

x=0
y=0

# test.hist()
# test.plot()
# test.size()

# test['TARGET'].columns

# print(test.group.columns)

columns_name = []

for name, group in test:
    columns_name = group.columns


# negatif_test = test[test['TARGET'] != 1]
# positif_test = test['TARGET'] == 1


# test['TARGET'].hist()

test.hist(figsize=(25, 25))

# fig, axs = plt.subplots(ceil(len(columns_name)/4), 4,  figsize=(30, 20))
# for col in (columns_name):
#     if(x>=4):
#         x=0
#         y+=1
        
#     sns.distplot(test[col], label='positif', ax=axs[y,x])
# #     sns.distplot(positif_test[col], label='positif', ax=axs[y,x])
# #     sns.distplot(negatif_test[col], label='negatif', ax=axs[y,x])
#     axs[y,x].legend()
#     x+=1

In [ ]:
(data_train.isna().sum()/data_train.shape[0]).sort_values()

In [ ]:
df_test = pd.read_csv('home-credit-default-risk//application_test.csv')

In [ ]:
for i,col in enumerate(df_test.select_dtypes('object').columns):
    try:
        df_test[col] = le[i].transform(df_test[col].astype(str))
    except:
        print('error : '+col)